.transactionHistory {
  border: 1px solid grey;
  width: 500px;
  margin: 0px auto;
}

.columnName {
  font-size: 35px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  height: 100px;
  background-color: rgb(0 188 213);
  color: white;
}

.box {
  height: 100px;
  font-size: 30px;
  text-align: center;
}

.columnValue {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  color: grey;
}
